
body {
    font-family: "Roboto", sans-serif;
    color: var(--p-font-color);
    font-size: 16px;
    line-height: 24px;
    
}

:root {
    --filter-btn-color: #4D5AE5;
    --filter-btn-bg-color: #F4F4FD;
    --filter-btn-active-color: #FFFFFF;
    --filter-btn-bg-active-color: #404BBF;
    /* IRIS */
    --heading-color-1: #4D5AE5; 
    /* NAVY */
    --heading-color-2: #2E2F42;
    /* SLATE */
    --p-font-color: #434455;
    
}

nav,
nav ul a:visited,
h2,
h3 {
    color: var(--heading-color-2);
}

nav ul a:hover,
nav ul a:focus {
    color: var(--filter-btn-bg-active-color);
}

.logo {
    font-size: 18px;
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-align: center;
    line-height: 1.17;
}

.logo a:visited {
    color: var(--heading-color-1);
}

.logo a {
    color: var(--heading-color-1);
}

.logo span,
.logo span:visited{
    color:var(--heading-color-2)
}

.logo span:hover,
.logo span:focus {
    color: var(--heading-color-1);
}





h1 {
    color: #fff;
    background-color: var(--heading-color-2);
    font-size: 56px;
    line-height: 60px;
}

h2 {
    font-size: 36px;
    line-height: 40px;
}

h3 {
    font-size: 20px;
    line-height: 24px;
}


/* hiding h2s */
.hidden {
    display: none;
}

/* INDEX.HTML styling */
/* adding styling to order service button */
.order-button {
    background-color: var(--heading-color-1);
    color: #FFFFFF;
}

.order-button:hover,
.order-button:focus
{
    background-color: #F4F4FD;
    color: var(--heading-color-1);
}


/* PORTFOLIO HTML STYLING */
/* adding styling to filter buttons */
.filter button {
    background-color:var(--filter-btn-bg-color);
    color: var(--filter-btn-color);
}

.filter button:hover,
.filter button:focus
{
    background-color: var(--filter-btn-bg-active-color);
    color: var(--filter-btn-active-color);
}

